@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  --white: #fff;
  --main-color: #22368f;
  --grey: #434141;
  --light-grey: #aaa;
}
body {
  background-color: #f1f1f1;
  transition: all 0.5s ease;
}
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px;
  z-index: 1000;
  box-shadow: 0 0 2px var(--light-grey);
}
.logo {
  display: flex;
  align-items: center;
  column-gap: 10px;
  font-size: 22px;
  font-weight: 500;
  color: var(--main-color);
}
.mechanicName {
  display: none;
}

.sidebar {
  background-color: var(--white);
  width: 260px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  padding: 80px 20px;
  z-index: 100;
  overflow-y: scroll;
  box-shadow: 0 0 1px var(--light-grey);
  transition: all 0.5s ease;
}
.sidebar.close {
  padding: 90px 1px;
  width: 80px;
}
.sidebar::-webkit-scrollbar {
  display: none;
}
.menu_content {
  position: relative;
}
.menu_title {
  margin: 15px 0;
  padding: 0 20px;
  font-size: 18px;
}
.sidebar.close .menu_title {
  padding: 6px 30px;
}
.menu_title::before {
  color: var(--grey);
  white-space: nowrap;
}

.sidebar.close .menu_title::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 18px;
  border-radius: 12px;
  background: var(--light-grey);
}
.menu_items {
  padding: 0;
  list-style: none;
}
.navlink_icon {
  position: relative;
  font-size: 22px;
  min-width: 50px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 6px;
}
.navlink_icon::before {
  content: "";
  position: absolute;
  height: 100%;
  width: calc(100% + 100px);
  left: -20px;
}
.navlink_icon:hover {
  background: var(--main-color);
}
.sidebar .nav_link {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 4px 15px;
  border-radius: 8px;
  text-decoration: none;
  color: var(--grey);
  white-space: nowrap;
}
.sidebar.close .navlink {
  display: none;
}
.nav_link:hover {
  color: var(--white);
  background: var(--main-color);
}
.sidebar.close .nav_link:hover {
  background: var(--white);
}

.collapse_content {
  position: fixed;
  bottom: 60px;
  left: 0;
  width: 260px;
  cursor: pointer;
  transition: all 0.5s ease;
}
.collapse {
  position: absolute;
  display: flex;
  align-items: center;
  left: 0;
  justify-content: space-around;
  padding: 18px 0;
  text-align: center;
  width: 100%;
  color: var(--grey);
  border-top: 1px solid var(--light-grey);
  background-color: var(--white);
}
.collapse i {
  font-size: 20px;
}
.collapse span {
  font-size: 18px;
}
.sidebar.close .collapse_content {
  width: 50px;
  left: 15px;
}
.sidebar.close .collapse span {
  display: none;
}
.sidebar.hoverable .collapse_sidebar {
  display: none;
}
#sidebarOpen {
  display: none;
}
.main-content{
    position: relative;
    background-color: #eee;
    min-height: 100vh;
    z-index: 1;
    top:0;
    left:80px;
    transition: all 0.5s ease;
    width: calc(100% - 80px);
    padding: 1rem;
}
.tableContainer {
    display: none;
    margin-top: 1.5em;
    padding-top: 1em;
    background-color: #faf0e6;
  
    
  }

  .tableContainer h1{
    text-align: center;
    padding: 0.3em 0;
    color: #3A3B3C;
  }
 

  .tableContainerContent {
    overflow-x: auto;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 3em;
    z-index: 1;
  }

  .table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    z-index: 1;
  }

  .table th, .table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  .table thead th {
    background-color: #343a40;
    color: #fff;
  }

  .table tbody tr:nth-child(even) {
    background-color: #f8f9fa; /* Цвят за четни редове */
  }

  .table tbody tr:nth-child(odd) {
    background-color: #e9ecef; /* Цвят за нечетни редове */
  }

  .table tbody tr:hover {
    background-color: #808181; /* Цвят при ховър */
  }
  .btn-primary {
    background-color: #007bff;
    font-size: 1em;
    color: #fff;
    border-radius: 10px;
    padding: 1em 1.5em;
    border: none;
  }

  .btn-primary:hover {
    background-color: #0056b3;
  }
  tbody a{

    text-decoration: none;
    color: white;
  }


  @media screen and (max-width: 768px) {
    .table th, .table td {
      padding: 8px;
    }

    .btn-primary {
      font-size: 14px;
    }
  }
@media screen and (max-width: 768px) {
  #sidebarOpen {
    font-size: 25px;
    display: block;
    margin-right: 10px;
    cursor: pointer;
    color: var(--grey);
  }
  .sidebar.close {
    left: -100%;
  }
  .sidebar.close .collapse_content {
    left: -100%;
  }
}