* {
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
input[type=text],[type = datetime-local],[type = number] ,[type = file], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid rgb(168, 167, 167);
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
    font-size: 14px;
  }
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  } 

  button{
    font-size: 16px;
    background-color: #6fbcf7;
    padding: 10px 15px; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  button:hover {
    background-color: #58b1f5;
}
.container , .Your_cars{
  display: block;
  border-radius: 5px;
  background-color: #b2c9db;
  padding: 20px;
  max-width: 1200px;
  margin: 5em auto;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .tab {
    display: block;
  }
  .menu_item{
    background-color: white;
  }
  .step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
  }
  
  /* Mark the active step: */
  .step.active {
    opacity: 1;
  }
  
  /* Mark the steps that are finished and valid: */
  .step.finish {
    background-color: #04AA6D;
  }

  #prevBtn, #nextBtn{
    margin-top: 1em;
    float: right;
  }

  input.error,
  select.error,
  textarea.error {
      border: 1px solid red;
      outline: none;
  }
  

  .addCar{
    display: block;
  }
  .ifAdd{
    margin: 1em;
  }
  .carButtons{
    display: flex;
    justify-content: space-between;
  }
  .addCarBtn , .viewCarInfo{
    font-size: 16px;
    background-color: #6fbcf7;
    padding: 10px 15px; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
  }
  #carInfoContainer{
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
  }
  #carInfoContainer p {
    font-size: 16px;
    color: #333;
}
#showEndedAppointmentsBtn {
  display: block; /* Скриване на бутона по подразбиране */
}

.tableContainer {
    display: block;
    margin-top: 1.5em;
    padding-top: 1em;
    background-color: #faf0e6;
  
    
  }

  .tableContainer h1{
    text-align: center;
    padding: 0.3em 0;
    color: #3A3B3C;
  }
 

  .tableContainerContent {
    overflow-x: auto;
    max-width: 1400px;
    margin: 0 auto;
    padding-bottom: 3em;
    z-index: 1;
  }
  #tableEndedAppointmetsForTheCar {
    display: block; /* Скриване на таблиците по подразбиране */
}

  .table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    z-index: 1;
  }

  .table th, .table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  .table thead th {
    background-color: #343a40;
    color: #fff;
  }

  .table tbody tr:nth-child(even) {
    background-color: #f8f9fa; /* Цвят за четни редове */
  }

  .table tbody tr:nth-child(odd) {
    background-color: #e9ecef; /* Цвят за нечетни редове */
  }

  .table tbody tr:hover {
    background-color: #808181; /* Цвят при ховър */
  }
  .btn-primary {
    background-color: #007bff;
    font-size: 1em;
    color: #fff;
    border-radius: 10px;
    padding: 1em 1.5em;
    border: none;
  }

  .btn-primary:hover {
    background-color: #0056b3;
  }
  tbody a{

    text-decoration: none;
    color: white;
  }


  @media screen and (max-width: 768px) {
    .table th, .table td {
      padding: 8px;
    }

    .btn-primary {
      font-size: 14px;
    }
  }
 

  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }